@{
    Layout = "_Layout";
}

@model IEnumerable<Repository.Models.Menu.Order>
@using static IEnumerable<Repository.Models.Menu.Item>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model._items)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item._items)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Order_ID">Edit</a>
                <a asp-action="Delete" asp-route-id="@item.Order_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
